*{
    margin: 0%;
    padding: 0;
}
body{
    zoom:1.2
}
.content{
    zoom:0.83;
}
.all{
    height: 937px;
    width: 100%;
    background-color: rgb(231, 147, 69);
}
.register{
    font-size: 25px;
    position: absolute;
    top: 150px; 
    left:0px;
    z-index: 100;


}
.symbol{
    margin: 180px;
    margin-left: 50px;
    width: 1200px;
    z-index: 1;
    position: absolute;
    top: -250px;
    
}
input{
    background-color: rgb(140, 140, 228);
    color: white;
}
.registerMargin{
    margin-top: -100px;
}
.LB2{
    width: 77px;
}
.aside:hover{
    height: 350px;
    background-color: rgb(57, 130, 214);
    border-radius:75px ;
}
.提交{
    margin-top: 10px;
    background-color: rgb(251, 255, 0);
    font-size: 22px;
}
.提交:hover{
    background-color: rgb(255, 0, 0);
}