*{
    margin: 0%;
    padding: 0;
    
}
.all{
    height: 937.5px;
    width: 100%;
    background-color: rgb(231, 147, 69);
}
body{
    overflow-y: hidden
}
.register{
    /* 可删除 */
    margin-top: 80px;
    /* background-color: black;
    color: white; */

    font-size: 31.25px;
    position: absolute;
    top: 150px; 
    left:0px;
    z-index: 100;


}
.displaynone{
    display: none;
}
span{
    color: black;
}
/* .论坛{
    margin-left:55px ;
} */
.symbol{
    /* margin: 180px; */
    margin-top: 21px;
    margin-left: 39px;
    height: 937.5px;
    z-index:-100;
    position: absolute;
    top: -250px;


}
.jump{
    /* position: relative;
    top: -80px;
    left: 100px;
    margin-top: -100px;
    
    height: 80px;
    text-align: left; */
    margin-left: 30px;
    left: 30px;
    width: 180px;
    height: 80px;
    overflow:hidden;
}
.jump:hover{
    width: 680px;
    background-color: rgb(231, 147, 69);
    /* border-top-right-radius: 90%;
    border-bottom-right-radius: 90%; */
    transition: all 0.5s;
}


/* .head .content .jump a{
} */
.head .content .jump .首页{
    color: black;
}
.head .content .jump .首页:hover{
    color: white;
}
.head .aside .登陆{
    color: white;
}
input{
    background-color: rgb(140, 140, 228);
    color: white;
    width: 210px;
}
.registerMargin{
    margin-top: -100px;
    /* font-size: 125%; */
}
.LB2{
    width: 77px;
}
.head .aside .登陆:hover{
    color: yellow;
}
.aside:hover{
    height: 350px;
    background-color: rgb(57, 130, 214);
    border-radius:75px ;
}
.提交{
    margin-top: 10px;
    background-color: rgb(251, 255, 0);
    font-size: 27.5px;
    /* 27.5 */
}
.提交:hover{
    background-color: rgb(255, 0, 0);
}