*{
    padding: 0%;
    margin: 0;
    font-family: 文道潮黑;
}
.maincontent{
    margin: 0 auto;
}
.MCP{
    height: 100px;
    margin: 0,auto;
    text-align: center;
}
.DB2{
    width: 1000px;
}
